*, html, body {

}
.brand {
    font-weight:100;
}
.brand span {
    font-weight:400;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.content {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {

}

.card > img {

}

.card-text {

}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.navbar {
  padding-top:20px;
  padding-bottom:20px;
  z-index:1000;
}
.navbar-toggler span.glyphicon {
	border:none;
	color:#000;
}
.navbar-toggler:hover {
	cursor:pointer;
}
.navbar-toggler {
	position:absolute;
	right:10px;
	margin-top:4px;
	color:#888;
}
#navbarHeader > .container {}
span.hr {
  height:1px;
  width:100%;
  display:block;
  border-top:1px solid #888;
  margin:0 0 12px 0;
}
.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}
span.break40 {
	padding:40px;
	display:block;
}
span.break10 {
	padding:20px;
	display:block;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.navbar {
	min-height:10vh;
}
#hero{
  background-image:url("/assets/img/stock.jpg");
  background-size:cover;
  position:relative;
  height:90vh;
}

.hero-header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;

  -ms-transform: translate(0,-50%); /* IE 9 */
   	-webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);

}
.hero-header h1  {
	margin:0 10% 0 10%;
	text-shadow: 2px 2px 4px #444;
}
.footer {

	margin:40px 0 0 0;
}
.footer * {

}
.footer-logo {
	max-width:280px;
}
.logo {
	max-width:60%;
}
.trustees {
	margin-bottom:30px;
}
.card-columns {
  column-count: 2;
}
@media all and (max-width: 480px) {
	.ssbp-container {

	  display:none;
   }
   .hero-header h1 {
	   font-size:21px;
   }
   #hero{
     background-image:url("/assets/img/stock_small.jpg");
   }

   .navbar-toggler {
	   	position:absolute;
	   	right:10px;
	   	margin-top:6px;
	   	color:#888;
	   }
}
@media all and (max-width: 600px) {
	   .card-columns {
   	  column-count: 1;
   	}
}
.disclaimer {
	padding-top:40px;
	padding-bottom:40px;
}
.about {
	margin-top:8px;
}
.anbi .card-columns {
	column-count:1;
	margin-top:20px;
}
.max-980 {
	max-width:980px;
	margin:0 auto;
}
