*, html, body {
	word-break: none;
	word-wrap: normal;
}
.brand {
    font-weight:100;
}
.brand span {
    font-weight:400;
}
.jumbotron {

}
.navbar {
  padding-top:20px;
  padding-bottom:20px;
  z-index:1000;
}
.navbar-toggler span.glyphicon {
	border:none;
	color:#000;
}
.navbar-toggler:hover {
	cursor:pointer;
}
.navbar-toggler {
	position:absolute;
	right:10px;
	margin-top:4px;
	color:#888;
}
#navbarHeader > .container {}
span.hr {
  height:1px;
  width:100%;
  display:block;
  border-top:1px solid #888;
  margin:0 0 12px 0;
}
.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}
span.break40 {
	padding:40px;
	display:block;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.navbar {
	min-height:10vh;
}
#hero{
  background-image:url("/assets/img/stock.jpg");
  background-size:cover;
  position:relative;
  height:90vh;
}

.hero-header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;

  -ms-transform: translate(0,-50%); /* IE 9 */
   	-webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);

}
.hero-header h1  {
	margin:0 10% 0 10%;
	text-shadow: 2px 2px 4px #444;
}
.footer {

	margin:40px 0 0 0;
}
.footer * {

}
.footer-logo {
	max-width:280px;
}
.logo {
	max-width:60%;
}
.trustees {
	margin-bottom:30px;
}



@media all and (max-width: 480px) {
	.ssbp-container {

	  display:none;
   }
   .hero-header h1 {
	   font-size:21px;
   }
   #hero{
     background-image:url("/assets/img/stock_small.jpg");
   }

   .navbar-toggler {
	   	position:absolute;
	   	right:10px;
	   	margin-top:6px;
	   	color:#888;
	   }
}
.disclaimer {
	padding-top:40px;
	padding-bottom:40px;
}
.about {
	margin-top:8px;
}
