*, html, body {
	word-break: none;
	word-wrap: normal;
}
.brand {
    font-weight:100;
}
.brand span {
    font-weight:400;
}
.jumbotron {

}
.navbar {
  padding-top:20px;
  padding-bottom:20px;
  z-index:1000;
}
.navbar-toggler span.glyphicon {
	border:none;
	color:#000;
}
.navbar-toggler:hover {
	cursor:pointer;
}
.navbar-toggler {
	position:absolute;
	right:10px;
	color:#888;
}
#navbarHeader > .container {}
span.hr {
  height:1px;
  width:100%;
  display:block;
  border-top:1px solid #888;
}
.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}
span.break40 {
	padding:40px;
	display:block;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.navbar {
	min-height:10vh;
}
#hero{
  background-image:url("/assets/img/stock.jpg");
  background-size:cover;
  position:relative;
  height:90vh;
}

.hero-header{
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  color:#fff;

  -ms-transform: translate(0,-50%); /* IE 9 */
   	-webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);

}
.hero-header h1  {
	margin:0 10% 0 10%;
	text-shadow: 2px 2px 4px #444;
}
.footer {

	margin:40px 0 0 0;
}
.footer * {

}
.footer-logo {
	max-width:280px;
}
.logo {
	max-width:60%;
}
.trustees {
	margin-bottom:30px;
}

@font-face {
	font-family:'ssbp';
	src:url('/assets/fonts/ssbp.eot?1xwfh1');
	src:url('/assets/fonts/ssbp.eot?#iefix1xwfh1') format('embedded-opentype'),url('/assets/fonts/ssbp.woff?1xwfh1') format('woff'),url('/assets/fonts/ssbp.ttf?1xwfh1') format('truetype'),url('/assets/fonts/ssbp.svg?1xwfh1#ssbp') format('svg');
	font-weight:normal;
	font-style:normal;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
@-webkit-keyframes spin {
	from {
		-webkit-transform:rotate(0deg)
	}
	to {
		-webkit-transform:rotate(360deg)
	}
}
@keyframes spin {
	from {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg)
	}
	to {
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg)
	}
}
.ssbp-spinner:before {
	font-family:'ssbp';
	content:"\e614"
}
.ssbp-spinner {
	-webkit-animation:spin 2s infinite linear;
	animation:spin 2s infinite linear;
	display:inline-block
}
.ssbp-btn:before,.ssbp-toggle-switch:before {
	display:inline-block;
	font-family:'ssbp';
	speak:none;
	font-size:24px;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none
}
.ssbp-arrow-right:before {
	content:"\e612"
}
.ssbp-arrow-left:before {
	content:"\e613"
}
.ssbp-arrow-down:before {
	content:"\e619"
}
.ssbp-arrow-up:before {
	content:"\e61a"
}
.ssbp-chevron-down:before,.ssbp-toggle-switch:before {
	content:"\e618"
}
.ssbp-chevron-up:before,.ssbp--state-hidden .ssbp-toggle-switch:before {
	content:"\e615"
}
.ssbp-chevron-right:before,.ssbp--fixed-right .ssbp-toggle-switch:before,.ssbp--state-hidden.ssbp--fixed-left .ssbp-toggle-switch:before {
	content:"\e616"
}
.ssbp-chevron-left:before,.ssbp--fixed-left .ssbp-toggle-switch:before,.ssbp--state-hidden.ssbp--fixed-right .ssbp-toggle-switch:before {
	content:"\e617"
}
.ssbp-simplesharebuttons:before {
	content:"\e611"
}
.ssbp-yummly:before {
	content:"\e60b"
}
.ssbp-whatsapp:before {
	content:"\e60f"
}
.ssbp-diggit:before {
	content:"\e60c"
}
.ssbp-buffer:before {
	content:"\e60d"
}
.ssbp-close:before {
	content:"\e614"
}
.ssbp-twitter:before {
	content:"\e605"
}
.ssbp-reddit:before {
	content:"\e606"
}
.ssbp-flattr:before {
	content:"\e607"
}
.ssbp-tumblr:before {
	content:"\e608"
}
.ssbp-linkedin:before {
	content:"\e609"
}
.ssbp-google:before {
	content:"\e60a"
}
.ssbp-xing:before {
	content:"\e610"
}
.ssbp-facebook:before {
	content:"\e60e"
}
.ssbp-facebook_save:before {
	content:"\e900"
}
.ssbp-facebook-messenger:before {
	content:"\e611"
}
.ssbp-vk:before {
	content:"\e600"
}
.ssbp-stumbleupon:before {
	content:"\e601"
}
.ssbp-print:before {
	content:"\e602"
}
.ssbp-pinterest:before {
	content:"\e603"
}
.ssbp-email:before {
	content:"\e604"
}
.ssbp-ellipsis:before {
	content:"\e612"
}
.ssbp-x:before {
	content:"\e613"
}
@media print {
	.ssbp-wrap {
		display:none !important
	}
}
@media only screen and (min-width:481px) {
	.ssbp-li--whatsapp,.ssbp-li--facebook-messenger {
		display:none !important
	}
}
.ssbp-wrap *,.ssbp-wrap *:before,.ssbp-wrap *:after {
	box-sizing:border-box
}
.ssbp-input-url-div,.ssbp-total-shares,.ssbp-each-share,.ssbp-toggle-switch,.ssbp-text {
	display:none
}
.ssbp-wrap {
	position:relative;
	display:inline-block;
	padding:0px;
	font-size:0;
	color:#272727
}
.ssbp-wrap.ssbp--centred {
	display:block;
	text-align:center
}
.ssbp-wrap.ssbp--aligned-right {
	display:block;
	text-align:right
}
.ssbp-wrap.ssbp--aligned-right .ssbp-container {
	display:inline-block
}
.ssbp-wrap .ssbp-container,.ssbp-wrap .ssbp-toggle-switch {
	font-size:16px
}
.ssbp-wrap .ssbp-list {
	list-style:none;
	display:inline-block;
	vertical-align:middle;
	margin:0;
	padding:0
}
.ssbp-wrap .ssbp-list li {
	position:relative;
	display:inline-block;
	vertical-align:top
}
.ssbp-wrap .ssbp-list li:first-of-type {
	margin-left:0
}
.ssbp-wrap .ssbp-btn {
	display:inline-block;
	text-align:center;
	text-decoration:none;
	font-family:sans-serif
}
.ssbp-wrap.ssbp--stacked .ssbp-list li,.ssbp-wrap.ssbp--fixed-left .ssbp-list li,.ssbp-wrap.ssbp--fixed-right .ssbp-list li {
	display:block;
	margin-top:6px;
	margin-left:0 !important;
	margin-right:0 !important
}
.ssbp-wrap.ssbp--stacked .ssbp-list li:first-of-type,.ssbp-wrap.ssbp--fixed-left .ssbp-list li:first-of-type,.ssbp-wrap.ssbp--fixed-right .ssbp-list li:first-of-type {
	margin-top:0
}
.ssbp-wrap[class*="ssbp--fixed"] {
	position:fixed;
	z-index:99999
}
.ssbp-wrap[class*="ssbp--fixed"] .ssbp-container {
	-webkit-transition:.25s;
	transition:.25s
}
.ssbp-wrap.ssbp--fixed-top,.ssbp-wrap.ssbp--fixed-bottom {
	left:50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%)
}
.ssbp-wrap.ssbp--fixed-left,.ssbp-wrap.ssbp--fixed-right {
	top:25%
}
.ssbp-wrap.ssbp--fixed-top {
	top:0
}
.ssbp-wrap.ssbp--fixed-bottom {
	bottom:0
}
.ssbp-wrap.ssbp--fixed-left {
	left:0
}
.ssbp-wrap.ssbp--fixed-right {
	right:0
}
.ssbp-wrap[data-ssbp-counts="true"] .ssbp-each-share {
	display:block;
	pointer-events:none
}
.ssbp-wrap[data-ssbp-total-counts="true"] .ssbp-total-shares {
	display:inline-block;
	padding:0 .5em;
	text-align:center;
	font-size:14px;
	line-height:2
}
.ssbp-wrap[data-ssbp-total-counts="true"].ssbp--fixed-left .ssbp-total-shares,.ssbp-wrap[data-ssbp-total-counts="true"].ssbp--fixed-right .ssbp-total-shares,.ssbp-wrap[data-ssbp-total-counts="true"].ssbp--stacked .ssbp-total-shares,.ssbp-wrap[data-ssbp-total-counts="true"].ssbp--fixed-left .ssbp-total-shares,.ssbp-wrap[data-ssbp-total-counts="true"].ssbp--fixed-right .ssbp-total-shares {
	display:block;
	padding:0
}
.ssbp-toggle-switch {
	position:absolute;
	padding:0;
	border:0;
	background:transparent;
	text-align:center;
	cursor:pointer;
	-webkit-transition:.25s;
	transition:.25s;
	display:none
}
.ssbp-toggle-switch:active,.ssbp-toggle-switch:hover,.ssbp-toggle-switch:focus {
	padding:0;
	border:0
}
.ssbp--fixed-left .ssbp-toggle-switch,.ssbp--fixed-right .ssbp-toggle-switch {
	left:0;
	bottom:100%;
	width:100%
}
.ssbp--fixed-top .ssbp-toggle-switch,.ssbp--fixed-bottom .ssbp-toggle-switch {
	left:100%;
	bottom:0;
	height:100%
}
.ssbp--show-toggle.ssbp--fixed-top .ssbp-toggle-switch:before {
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg)
}
.ssbp--show-toggle.ssbp--fixed-bottom .ssbp-toggle-switch:before {
	-webkit-transform:rotate(-90deg);
	transform:rotate(-90deg)
}
.ssbp--show-toggle.ssbp--fixed-right .ssbp-toggle-switch:before {
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg)
}
.ssbp--state-hidden .ssbp-each-share {
	opacity:0
}
.ssbp--state-hidden .ssbp-container {
	-webkit-transform:translateX(-100%);
	transform:translateX(-100%)
}
.ssbp--state-hidden.ssbp--fixed-top .ssbp-container {
	-webkit-transform:translateY(-100%);
	transform:translateY(-100%)
}
.ssbp--state-hidden.ssbp--fixed-bottom .ssbp-container {
	-webkit-transform:translateY(100%);
	transform:translateY(100%)
}
.ssbp--state-hidden.ssbp--fixed-left .ssbp-container {
	-webkit-transform:translateX(-100%);
	transform:translateX(-100%)
}
.ssbp--state-hidden.ssbp--fixed-right .ssbp-container {
	-webkit-transform:translateX(100%);
	transform:translateX(100%)
}
.ssbp--theme-2 .ssbp-toggle-switch {
	background:#4C4C4C;
	background:rgba(39,39,39,0.8);
	border-radius:0;
	color:#fff
}
.ssbp--theme-2 .ssbp-toggle-switch:active,.ssbp--theme-2 .ssbp-toggle-switch:hover,.ssbp--theme-2 .ssbp-toggle-switch:focus {
	background:#4C4C4C;
	background:rgba(39,39,39,0.9)
}
.ssbp--theme-2.ssbp--centred .ssbp-list {
	display:table;
	table-layout:fixed;
	width:100%
}
.ssbp--theme-2.ssbp--centred .ssbp-list li {
	display:inline-block !important;
	margin:0 0 !important;
	display:table-cell !important;
	width:auto;
	height:auto
}
.ssbp--theme-2.ssbp--centred .ssbp-btn {
	display:block;
	width:auto
}
.ssbp--theme-2 .ssbp-list li {
	overflow:hidden;
	margin:0 !important
}
.ssbp--theme-2 .ssbp-btn {
	width:3em;
	height:3em;
	line-height:3em;
	position:relative;
	color:#fff;
	-webkit-transition:.25s;
	transition:.25s;
	border-bottom:0
}
.ssbp--theme-2 .ssbp-btn:before {
	-webkit-transition:.25s;
	transition:.25s
}
.ssbp--theme-2 .ssbp-btn+.ssbp-each-share {
	position:absolute;
	z-index:10;
	bottom:0;
	left:0;
	right:0;
	-webkit-transform:translateY(0);
	transform:translateY(0);
	-webkit-transition:.25s;
	transition:.25s
}
.ssbp--theme-2 .ssbp-btn:hover,.ssbp--theme-2 .ssbp-btn:focus,.ssbp--theme-2 .ssbp-btn:active,.ssbp--theme-2 .ssbp-btn:visited {
	z-index:10;
	color:#fff
}
.ssbp--theme-2 .ssbp-btn:hover:before,.ssbp--theme-2 .ssbp-btn:focus:before,.ssbp--theme-2 .ssbp-btn:active:before,.ssbp--theme-2 .ssbp-btn:visited:before {
	-webkit-transform:none !important;
	transform:none !important
}
.ssbp--theme-2 .ssbp-btn:hover+.ssbp-each-share,.ssbp--theme-2 .ssbp-btn:focus+.ssbp-each-share,.ssbp--theme-2 .ssbp-btn:active+.ssbp-each-share,.ssbp--theme-2 .ssbp-btn:visited+.ssbp-each-share {
	-webkit-transform:translateY(100%);
	transform:translateY(100%)
}
.ssbp--theme-2 .ssbp-btn:active {
	-webkit-transform:scale(1.2);
	transform:scale(1.2)
}
.ssbp--theme-2[data-ssbp-counts="true"] .ssbp-btn:before {
	-webkit-transform:translateY(-0.25em) scale(0.75);
	transform:translateY(-0.25em) scale(0.75)
}
.ssbp--theme-2 .ssbp-buffer {
	background-color:#272727
}
.ssbp--theme-2 .ssbp-buffer:hover,.ssbp--theme-2 .ssbp-buffer:focus,.ssbp--theme-2 .ssbp-buffer:active {
	background-color:#0e0e0e
}
.ssbp--theme-2 .ssbp-diggit {
	background-color:#14589E
}
.ssbp--theme-2 .ssbp-diggit:hover,.ssbp--theme-2 .ssbp-diggit:focus,.ssbp--theme-2 .ssbp-diggit:active {
	background-color:#0e3f71
}
.ssbp--theme-2 .ssbp-email {
	background-color:#787878
}
.ssbp--theme-2 .ssbp-email:hover,.ssbp--theme-2 .ssbp-email:focus,.ssbp--theme-2 .ssbp-email:active {
	background-color:#5f5f5f
}
.ssbp--theme-2 .ssbp-ellipsis {
	background-color:#4582EC
}
.ssbp--theme-2 .ssbp-ellipsis:hover,.ssbp--theme-2 .ssbp-ellipsis:focus,.ssbp--theme-2 .ssbp-ellipsis:active {
	background-color:#1863e6
}
.ssbp--theme-2 .ssbp-facebook {
	background-color:#3b5998
}
.ssbp--theme-2 .ssbp-facebook:hover,.ssbp--theme-2 .ssbp-facebook:focus,.ssbp--theme-2 .ssbp-facebook:active {
	background-color:#2d4373
}
.ssbp--theme-2 .ssbp-facebook_save {
	background-color:#3b5998
}
.ssbp--theme-2 .ssbp-facebook_save:hover,.ssbp--theme-2 .ssbp-facebook_save:focus,.ssbp--theme-2 .ssbp-facebook_save:active {
	background-color:#2d4373
}
.ssbp--theme-2 .ssbp-facebook-messenger {
	background-color:#0084FF
}
.ssbp--theme-2 .ssbp-facebook-messenger:hover,.ssbp--theme-2 .ssbp-facebook-messenger:focus,.ssbp--theme-2 .ssbp-facebook-messenger:active {
	background-color:#006acc
}
.ssbp--theme-2 .ssbp-flattr {
	background-color:#f67C1A
}
.ssbp--theme-2 .ssbp-flattr:hover,.ssbp--theme-2 .ssbp-flattr:focus,.ssbp--theme-2 .ssbp-flattr:active {
	background-color:#d56308
}
.ssbp--theme-2 .ssbp-google {
	background-color:#DC4E41
}
.ssbp--theme-2 .ssbp-google:hover,.ssbp--theme-2 .ssbp-google:focus,.ssbp--theme-2 .ssbp-google:active {
	background-color:#c63224
}
.ssbp--theme-2 .ssbp-linkedin {
	background-color:#007bb6
}
.ssbp--theme-2 .ssbp-linkedin:hover,.ssbp--theme-2 .ssbp-linkedin:focus,.ssbp--theme-2 .ssbp-linkedin:active {
	background-color:#005983
}
.ssbp--theme-2 .ssbp-pinterest {
	background-color:#ce1a19
}
.ssbp--theme-2 .ssbp-pinterest:hover,.ssbp--theme-2 .ssbp-pinterest:focus,.ssbp--theme-2 .ssbp-pinterest:active {
	background-color:#a11413
}
.ssbp--theme-2 .ssbp-print {
	background-color:#1F6B43
}
.ssbp--theme-2 .ssbp-print:hover,.ssbp--theme-2 .ssbp-print:focus,.ssbp--theme-2 .ssbp-print:active {
	background-color:#14432a
}
.ssbp--theme-2 .ssbp-reddit {
	background-color:#FF4500
}
.ssbp--theme-2 .ssbp-reddit:hover,.ssbp--theme-2 .ssbp-reddit:focus,.ssbp--theme-2 .ssbp-reddit:active {
	background-color:#cc3700
}
.ssbp--theme-2 .ssbp-simplesharebuttons {
	background-color:#4582ec
}
.ssbp--theme-2 .ssbp-simplesharebuttons:hover,.ssbp--theme-2 .ssbp-simplesharebuttons:focus,.ssbp--theme-2 .ssbp-simplesharebuttons:active {
	background-color:#1863e6
}
.ssbp--theme-2 .ssbp-stumbleupon {
	background-color:#EB4924
}
.ssbp--theme-2 .ssbp-stumbleupon:hover,.ssbp--theme-2 .ssbp-stumbleupon:focus,.ssbp--theme-2 .ssbp-stumbleupon:active {
	background-color:#ca3412
}
.ssbp--theme-2 .ssbp-tumblr {
	background-color:#2C4762
}
.ssbp--theme-2 .ssbp-tumblr:hover,.ssbp--theme-2 .ssbp-tumblr:focus,.ssbp--theme-2 .ssbp-tumblr:active {
	background-color:#1c2e3f
}
.ssbp--theme-2 .ssbp-twitter {
	background-color:#00a9f1
}
.ssbp--theme-2 .ssbp-twitter:hover,.ssbp--theme-2 .ssbp-twitter:focus,.ssbp--theme-2 .ssbp-twitter:active {
	background-color:#0085be
}
.ssbp--theme-2 .ssbp-vk {
	background-color:#45668E
}
.ssbp--theme-2 .ssbp-vk:hover,.ssbp--theme-2 .ssbp-vk:focus,.ssbp--theme-2 .ssbp-vk:active {
	background-color:#344d6c
}
.ssbp--theme-2 .ssbp-whatsapp {
	background-color:#34AF23
}
.ssbp--theme-2 .ssbp-whatsapp:hover,.ssbp--theme-2 .ssbp-whatsapp:focus,.ssbp--theme-2 .ssbp-whatsapp:active {
	background-color:#27851b
}
.ssbp--theme-2 .ssbp-yummly {
	background-color:#E16120
}
.ssbp--theme-2 .ssbp-yummly:hover,.ssbp--theme-2 .ssbp-yummly:focus,.ssbp--theme-2 .ssbp-yummly:active {
	background-color:#b64d18
}
.ssbp--theme-2 .ssbp-xing {
	background-color:#026466
}
.ssbp--theme-2 .ssbp-xing:hover,.ssbp--theme-2 .ssbp-xing:focus,.ssbp--theme-2 .ssbp-xing:active {
	background-color:#013334
}
.ssbp--theme-2 .ssbp-each-share {
	padding:2px;
	background-color:rgba(0,0,0,0.1);
	font-size:10px;
	text-align:center;
	color:#FFF
}
@-webkit-keyframes spin {
	from {
		-webkit-transform:rotate(0deg)
	}
	to {
		-webkit-transform:rotate(360deg)
	}
}
@keyframes spin {
	from {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg)
	}
	to {
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg)
	}
}
.ssbp-spinner:before {
	font-family:'ssbp';
	content:"\e614"
}
.ssbp-spinner {
	-webkit-animation:spin 2s infinite linear;
	animation:spin 2s infinite linear;
	display:inline-block
}
.ssbp-btn:before,.ssbp-toggle-switch:before {
	display:inline-block;
	font-family:'ssbp';
	speak:none;
	font-size:24px;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none
}
.ssbp-arrow-right:before {
	content:"\e612"
}
.ssbp-arrow-left:before {
	content:"\e613"
}
.ssbp-arrow-down:before {
	content:"\e619"
}
.ssbp-arrow-up:before {
	content:"\e61a"
}
.ssbp-chevron-down:before {
	content:"\e618"
}
.ssbp-chevron-up:before {
	content:"\e615"
}
.ssbp-chevron-right:before {
	content:"\e616"
}
.ssbp-chevron-left:before {
	content:"\e617"
}
.ssbp-simplesharebuttons:before {
	content:"\e611"
}
.ssbp-yummly:before {
	content:"\e60b"
}
.ssbp-whatsapp:before {
	content:"\e60f"
}
.ssbp-diggit:before {
	content:"\e60c"
}
.ssbp-buffer:before {
	content:"\e60d"
}
.ssbp-close:before {
	content:"\e614"
}
.ssbp-twitter:before {
	content:"\e605"
}
.ssbp-reddit:before {
	content:"\e606"
}
.ssbp-flattr:before {
	content:"\e607"
}
.ssbp-tumblr:before {
	content:"\e608"
}
.ssbp-linkedin:before {
	content:"\e609"
}
.ssbp-google:before {
	content:"\e60a"
}
.ssbp-xing:before {
	content:"\e610"
}
.ssbp-facebook:before {
	content:"\e60e"
}
.ssbp-facebook_save:before {
	content:"\e900"
}
.ssbp-facebook-messenger:before {
	content:"\e611"
}
.ssbp-vk:before {
	content:"\e600"
}
.ssbp-stumbleupon:before {
	content:"\e601"
}
.ssbp-print:before {
	content:"\e602"
}
.ssbp-pinterest:before {
	content:"\e603"
}
.ssbp-email:before {
	content:"\e604"
}
.ssbp-ellipsis:before {
	content:"\e612"
}
.ssbp-x:before {
	content:"\e613"
}
@media only screen and (max-width:480px) {
	.ssbp-container {
		-webkit-transition:.25s;
		transition:.25s
	}
	.ssbp-wrap[data-ssbp-responsive="true"] {
		position:fixed;
		top:auto;
		right:0;
		bottom:0;
		left:0;
		z-index:12;
		text-align:center;
		-webkit-transform:none;
		transform:none
	}
	[data-ssbp-responsive="true"][data-ssbp-toggle="true"] {
		padding-right:24px
	}
	[data-ssbp-responsive="true"][data-ssbp-toggle="true"] .ssbp-toggle-switch {
		display:inline-block;
		left:auto;
		top:0;
		right:0;
		bottom:0;
		width:auto;
		height:auto;
		background:rgba(255,255,255,0.66);
		color:#4C4C4C
	}
	[data-ssbp-responsive="true"][data-ssbp-toggle="true"] .ssbp-toggle-switch:before {
		content:"\e618"
	}
	[data-ssbp-responsive="true"][data-ssbp-toggle="true"].ssbp--state-hidden .ssbp-toggle-switch:before {
		content:"\e615"
	}
	[data-ssbp-responsive="true"] .ssbp-list {
		display:table;
		table-layout:fixed;
		width:100%
	}
	[data-ssbp-responsive="true"] .ssbp-list li {
		display:inline-block !important;
		margin:0 12px !important;
		display:table-cell !important;
		width:auto;
		height:auto
	}
	[data-ssbp-responsive="true"] .ssbp-btn {
		display:block;
		width:auto
	}
	[data-ssbp-responsive="true"].ssbp--state-hidden .ssbp-container {
		-webkit-transform:translateY(100%);
		transform:translateY(100%)
	}
	[data-ssbp-responsive="true"].ssbp--theme-1 .ssbp-btn,[data-ssbp-responsive="true"].ssbp--theme-4 .ssbp-btn,[data-ssbp-responsive="true"].ssbp--theme-6 .ssbp-btn {
		display:inline-block;
		width:3em
	}
	[data-ssbp-responsive="true"].ssbp--theme-1 .ssbp-each-share,[data-ssbp-responsive="true"].ssbp--theme-4 .ssbp-each-share,[data-ssbp-responsive="true"].ssbp--theme-6 .ssbp-each-share {
		left:50%;
		right:auto;
		margin-left:12px
	}
	[data-ssbp-responsive="true"].ssbp--theme-2 .ssbp-btn {
		width:inherit
	}
	[data-ssbp-responsive="true"].ssbp--theme-1,[data-ssbp-responsive="true"].ssbp--theme-4,[data-ssbp-responsive="true"].ssbp--theme-6,[data-ssbp-responsive="true"].ssbp--theme-8 {
		padding:12px
	}
	[data-ssbp-responsive="true"].ssbp--theme-1[data-ssbp-toggle="true"],[data-ssbp-responsive="true"].ssbp--theme-4[data-ssbp-toggle="true"],[data-ssbp-responsive="true"].ssbp--theme-6[data-ssbp-toggle="true"],[data-ssbp-responsive="true"].ssbp--theme-8[data-ssbp-toggle="true"] {
		padding-right:36px
	}
	[data-ssbp-responsive="true"].ssbp--theme-1.ssbp--state-hidden .ssbp-container,[data-ssbp-responsive="true"].ssbp--theme-4.ssbp--state-hidden .ssbp-container,[data-ssbp-responsive="true"].ssbp--theme-6.ssbp--state-hidden .ssbp-container,[data-ssbp-responsive="true"].ssbp--theme-8.ssbp--state-hidden .ssbp-container {
		margin-bottom:-12px
	}
	[data-ssbp-responsive="true"].ssbp--theme-7 .ssbp-text {
		display:block
	}
	[data-ssbp-responsive="true"].ssbp--theme-8 .ssbp-btn {
		display:inline-block;
		width:4em
	}
}
.ssbp-set--one .ssbp-toggle-switch {
	display:none!important;
}
#ssbp-email-div .ssbp-li--flattr {
	display:none !important
}
@media print {
	#ssbp-email-div {
		display:none !important
	}
}
#ssbp-email-div {
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:2147483647;
	background:rgba(0,0,0,0.9);
	color:#fff
}
#ssbp-email-alert {
	display:none;
	position:absolute;
	top:25%;
	left:25px;
	right:25px;
	max-width:500px;
	margin:0 auto;
	padding:25px;
	text-align:center;
	border-radius:4px;
	border:1px solid transparent
}
.ssbp-alert-success {
	background-color:#3fad46;
	border-color:#3fad46
}
.ssbp-alert-warning {
	background-color:#f0ad4e;
	border-color:#f0ad4e
}
#js-ssbp-email-form {
	position:absolute;
	top:15%;
	left:0;
	right:0;
	max-width:500px;
	margin:0 auto;
	padding:0 25px
}
#ssbp-email-div .ssbp-share-text {
	display:none
}
#ssbp-email-div .ssbp-x {
	font-family:'ssbp';
	position:fixed;
	font-size:35px;
	top:25px;
	right:25px;
	cursor:pointer
}
.ssbp-email-powered-by {
	position:absolute;
	bottom:20px;
	left:0;
	right:0;
	margin:0 auto;
	width:150px
}
.ssbp-form-group {
	margin-bottom:15px
}
.ssbp-text-align-right {
	text-align:right
}
#ssbp-email-div input {
	height:40px
}
#ssbp-email-div textarea,#ssbp-email-div input {
	display:block;
	width:100%;
	padding:8px 12px;
	font-size:16px;
	line-height:1.42857;
	color:#333;
	background-color:#fff;
	background-image:none;
	border:1px solid #ddd;
	border-radius:4px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
	transition:border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s
}
.ssbp-btn-primary {
	width:200px;
	padding:14px 16px;
	font-size:20px;
	line-height:1.33333;
	border-radius:6px;
	color:#fff;
	display:inline-block;
	margin-bottom:0;
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	cursor:pointer;
	background-image:none;
	border:1px solid transparent;
	white-space:nowrap;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-color:#4582EC;
	border-color:#4582EC
}
.ssbp-btn-primary:hover {
	background-color:#1863e6;
	border-color:#175fdd
}
.ssbp-set--one .ssbp-share-text {
	display:none!important;
}
.ssbp-wrap {
	z-index:500!important;
}

.ssbp-btn img {
	width:100%;
	height:auto;
	position:absolute;
	margin-left:-22px;
}
.ssbp-btn::before {
	content:none;
}

@media all and (max-width: 480px) {
	.ssbp-container {

	  display:none;
   }
   .hero-header h1 {
	   font-size:21px;
   }
   #hero{
     background-image:url("/assets/img/stock_small.jpg");
   }
   .about {
	   margin-top:5px;
   }
}
.disclaimer {
	padding-top:40px;
	padding-bottom:40px;
}
